# Webstorm
.idea/

.DS_Store

# Local SAM Build
.aws-sam/

# Packages
service/dependencies/nodejs/node_modules/*
!service/dependencies/nodejs/node_modules/chromiumBase.js
test/node_modules/
packaged.yaml